.header {
    .logo {
        color: #fff;
        float: left;
        font-size: 2em;
        margin: 0 20px 0 5px;
        a, 
        a:hover {
            color: #fff;
        }
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        
        a:active {
            text-decoration: none;
        }
        
    }
    .login {
        float: right;
        a,
        a:hover {
          color: #fff;
          font-size: 1.2em;
        }
        .user {
            color: #fff;
            font-size: 1.2em;
            float: left;
            margin-right: 15px
        }
      }
} 